<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <description>Port for non SSL communication</description>
        <param-name>portNonSSL</param-name>
        <param-value>8080</param-value>
    </context-param>
    <context-param>
        <description>Port for SSL communication</description>
        <param-name>portSSL</param-name>
        <param-value>8181</param-value>
    </context-param>
    <context-param>
        <param-name>useSSL</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>autoLogon</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>autoLogonUser</param-name>
        <param-value>emp</param-value>
    </context-param>
    <context-param>
        <param-name>autoLogonPassword</param-name>
        <param-value>test</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <description>krak server domain name</description>
        <param-name>krak_server_address</param-name>
        <param-value>localhost</param-value>
    </context-param>
    <context-param>
        <description>server name</description>
        <param-name>krak_server_name</param-name>
        <param-value>WBKrak</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>DesktopOrMobile</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>Customer</display-name>
        <web-resource-collection>
            <web-resource-name>Customer pages</web-resource-name>
            <description/>
            <url-pattern>/mobile/private/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Customer</role-name>
            <role-name>Employee</role-name>
            <role-name>SuperEmployee</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login/login.jsp</form-login-page>
            <form-error-page>/login/login.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>Can se all things relating to him/her</description>
        <role-name>Customer</role-name>
    </security-role>
    <security-role>
        <description>Can list all details for costumers</description>
        <role-name>Employee</role-name>
    </security-role>
    <security-role>
        <description>Can create new customers and everything an employee can do</description>
        <role-name>SuperEmployee</role-name>
    </security-role>
    <ejb-ref>
        <ejb-ref-name>BankManagerBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <remote>dk.cphbusiness.bank.contract.BankManager</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>BankManagerBean1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <remote>dk.cphbusiness.bank.contract.BankManager</remote>
    </ejb-ref>
</web-app>
