body{
    font-family: Verdana, Helvetica, Arial, sans-serif; 
    margin: 0px;
    background-image: url(.../main.png);
    background-repeat: repeat;
    
}
#wrapper{
    margin: 0px auto;
    width: 800px;
    background-position: center;
    background-color: white;
    
}
#banner{
    background-color: #00153a;
    background-image: url(.../cphbank-logo.png);
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px auto;
    height: 150px;
    width: 800px;
}
#login{
    text-align: right;
}

table{
    margin: 10px;
    border: 1px solid grey;
    border-collapse:collapse;
    font-family: Verdana, Helvetica, Arial, sans-serif;
}
td{
    border:1px solid grey;
}
th{
    border:1px solid #666666;
    background-color: #666666;
    color: white;
}
tr:nth-child(even) {
    background-color: #cccccc;
}
tr:nth-child(odd) {
    background-color: #C2C2C2;
}
a { 
    color: cornflowerblue;
    text-decoration:none;
}
a:hover{
    text-decoration: underline;
}
table.customer tr.customers:nth-child(even) {
    background-color: #cccccc;
}
table.customer tr.customers:nth-child(odd) {
    background-color: #C2C2C2;
}
table.customer tr.customers:hover{

    background: rgba(128,128,128, 0.3);
    cursor: pointer;
}