#banner{
    background-color: #00153a;
    background-image: url(.../gfx/cphbank-logo.png);
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: left;
    margin: 0px auto;
    height: 150px;
    width: 800px;
}
#spacer{
    background-color: transparent;
    background-position: center;
    margin: 0px auto;
    height: 20px;
    width: 800px;
    
}
table{
    background-color: transparent;
}

body{
    margin: 0px;
    background-image: url(.../gfx/main.png);
    background-repeat: repeat;
    
}


#footer{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 4%;
    height: 50px;
    width: 790px;
    border-style: solid;
    border-width: 5px;
    border-color: #fbb040;
    background-color: #00153a;
    background-position: center;
    font-family: Gotham, Helvetica, Arial, sans-serif;
    color: white;
    font-size: 10px;
}

th{
    color: black;
    border-bottom: 1px solid grey;
}
tr:nth-child(even) {
    background-color: #c7dae9;
}
tr:nth-child(odd) {
    background-color: #d2e4f1;
}
a { 
    color: cornflowerblue;
    text-decoration:none;
}
a:hover{
    text-decoration: underline;
}
table.customer tr.customers:nth-child(even) {
    background-color: #cccccc;
}
table.customer tr.customers:nth-child(odd) {
    background-color: #C2C2C2;
}
table.customer tr.customers:hover{

    background: rgba(128,128,128, 0.3);
    cursor: pointer;
}
#login{
    
    text-align: right;
    
}
#login a{
    font-family: Gotham, Helvetica, Arial, sans-serif;
    padding-right: 10px;
    padding-top: 10px;
    text-align: right;
    font-size: 12px;
    color: #00153a;
    text-decoration: none;
}
#login a:hover{
    color: #fbb040;
    font-size: 12px;
    font-weight: bold;
}
#main_menubar{
    background-color: transparent;
    background-position: center;
    margin: 0px auto;
    height: 20px;
    width: 800px;
    
}