/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08-03-2014, 20:30:28
    Author     : CP
*/

#se-leftside-panel{
    text-align: right;
    height: 100px;
    width: 13%;
    margin-left: 1%;
    margin-top:17%;
    top:0%;
    position: fixed;
    padding: 0; 
    
}

#se-leftside-spacer{
    height: 400px;
    width: 1px;
    background: radial-gradient(gold,orange);
    margin-top:13%;
    margin-left:16%;
    top:0%;
    padding: 0;
    border-radius: 0;
    position: fixed;
    
    
}

#se-mid{
    
    height:400px;
    width: 782px;
    margin-left: 19%;
    margin-top: 2%;
    margin-bottom: 0%;
    background-color: whitesmoke;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    border-left-color: #e4e1e1;
    border-right-color:#e4e1e1;
    padding: 0;
    border-radius: 0;
    top: 0%;
    overflow: hidden;
    
}
