#wrapper{
    margin: 0px auto;
    width: 800px;
    background-position: center;
    background-color: white;
}

#videcontainer_main{
    width: 805px;
    height:314px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: auto;
    margin-right: auto;
   
}
#videotable_main{
    padding: 0;
    margin: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: 0;
}
#videotable_menu_main{
    border: 0;
    padding: 0;
    margin: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#main_top_right_cell{
    text-align:left;
    height:324px;
    width: 300px;
    border: 0;
    padding: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-image: url(.../gfx/main.png);
    background-repeat: repeat;
    background-color: white;
}
#main_youtube{
    background-color: transparent;
    text-align: left;
    width: 560px;
    height: 320px
}

#videocontainer_sidemenu_link{
    margin-left: 20px;
    
    
}
