#wrapper{
    width: 800px;
    overflow: auto;
    margin: auto;
}

#menu_left{
    height: 300px;
    width: 130px;
    border-right-color: #fbb040;
    border-right-style: solid;
    border-right-width: 1px;
    text-align: right;
    font-family: Gotham, Helvetica, Arial, sans-serif;
    font-size: 14px;
    float: left;
}

#content{
    background: white;
    margin: 0 0 0 150px;
    padding: 5px;
}
