body{
    font-family: Verdana, Helvetica, Arial, sans-serif;
}
table
{
    border: 1px solid grey;
    border-collapse:collapse;
    font-family: Verdana, Helvetica, Arial, sans-serif;
}
td
{
    border:1px solid grey;
    
}
th
{
    border:1px solid #666666;
    background-color: #666666;
    color: white;
}
tr:nth-child(even) {
    background-color: #cccccc;
}
tr:nth-child(odd) {
    background-color: #C2C2C2;
}
a { 
    color: cornflowerblue;
    text-decoration:none;
}
a:hover{
    text-decoration: underline;
}
table.customer tr.customers:nth-child(even) {
    background-color: #cccccc;
}
table.customer tr.customers:nth-child(odd) {
    background-color: #C2C2C2;
}
table.customer tr.customers:hover{
    
    background: rgba(128,128,128, 0.3);
    cursor: pointer;
}